:root {
    --color-primary: rgb(24, 143, 0);
    --color-secondary: rgb(175,17,17);
    --spacing: 10px;
}

p {
    color: var(--color-primary);
    margin: var(--spacing)

}

h1 {
    color: var(--color-primary);

}

h2 {
    color: var(--color-primary);
}

button {
    color: var(--color-primary);
    color: var(--color-secondary)
}