body {
    background: rgb(160, 151, 151);
}

p {
    color: #222222;
}

.foto-principal{
    width: 200px;
}

.foto-principal{

    border:2px solid #ffffff; /* Estilo Shorthand */
    border-radius:  15%; /* arredondamento da imagem, valores podem ser - value,value,value,value */ 
    margin: 30px 30px 30px 30px;
    padding: 10px; /* espaçamento interno*/ 